<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to NCATS: Cyber Hygiene</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Change Log:</h3>
      <br />
      <ul>
        <li>
          <h4>18-April-2018</h4>
          <ul>
            <li>Added new hire dashboard.</li>
            <li>
              New checkbox in preferences to show only election stakeholders
              data on the dashboard.
            </li>
          </ul>
        </li>
      </ul>
      <br />
      <ul>
        <li>
          <h4>19-December-2016</h4>
          <ul>
            <li>
              Disconnects are now handled more discreetly. Gear turns red; no
              dialogue box.
            </li>
            <li>
              Data compression is enabled to reduce bandwidth utilization.
            </li>
            <li>
              Auto-rotate is enabled by default. This can be changed via a
              configuration file.
            </li>
            <li>
              The interface exposed is now configurable per deployment (via a
              configuration file).
            </li>
            <li>
              All data-feed connections are now displayed in the preferences
              screen.
            </li>
            <li>
              App updates will force all clients to reload the application. This
              reduces human intervention for long running displays.
            </li>
          </ul>
        </li>
      </ul>
      <br />
      <ul>
        <li>
          <h4>6-May-2016</h4>
          <ul>
            <li>
              Improved accuracy of 'Stakeholder' and 'Reports Delivered' metrics
              on main Dashboard. Also replaced 'Open Ports' metric with more
              useful 'Vulnerable Hosts' metric.
            </li>
            <li>
              Added new Closed Tickets CSV download button to Cyber Exposure
              dashboard.
            </li>
          </ul>
        </li>
      </ul>
      <br />
      <ul>
        <li>
          <h4>1-March-2016</h4>
          <ul>
            <li>Added Cyber Exposure dashboard to replace BOD dashboard.</li>
          </ul>
        </li>
      </ul>
      <br />
      <ul>
        <li>
          <h4>8-December-2015</h4>
          <ul>
            <li>
              Added preferences screen to allow configuration of site settings.
            </li>
            <li>
              Added ability to obscure stakeholder names on the dashboard.
            </li>
            <li>Added ability to cycle between the dashboard and maps.</li>
            <li>Changed map layouts to better fit the screen.</li>
          </ul>
        </li>
      </ul>
      <br />
      <ul>
        <li>
          <h4>30-July-2015</h4>
          <ul>
            <li>Added a new ticket age graph to the BOD dashboard.</li>
            <li>
              Added a draft fullscreen dashboard. This dashboard is being
              designed for use on a large monitor, and may not render optimally
              on mid-sized displays.
            </li>
            <li>
              Converted data feeds to use socket.io. Additional conversions to
              follow.
            </li>
            <li>
              Refactored pages so that they are recomposable. This allows BOD
              graphs to used both on the BOD page, and the new dashboard.
            </li>
          </ul>
        </li>
      </ul>
      <br />
      <ul>
        <li>
          <h4>29-June-2015</h4>
          <ul>
            <li>
              All maps now scale well with the browser window and smaller device
              screens.
            </li>
            <li>
              A new full-screen button ( <i class="fi-monitor">​</i> )​ is
              available on supported devices.
            </li>
          </ul>
        </li>
      </ul>
      <br />
      <ul>
        <li>
          <h4>4-June-2015</h4>
          <ul>
            <li>The menu bar and item locations have been reorganized.</li>
            <li>A new map of identified hosts in the U.S. has been added.</li>
            <li>The Weekly Tickets Report has been added.</li>
            <li>
              A severity filter has been added to the Active Vulnerabilities
              map.
            </li>
            <li>
              Fixed an issue with the initial content of the Scan Progress page
              matching its filter.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
