body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 auto;
  position: relative;
  tab-size: 2;
}

h1.title {
  font-weight: 300;
  letter-spacing: -2px;
  margin: 0.3em 0 0.1em 0;
  text-align: center;
}

h4.title {
  font-weight: 300;
  letter-spacing: -2px;
  margin: 0.3em 0 0.1em 0;
  text-align: center;
}

h2 {
  margin-top: 2em;
}

h1,
h2 {
  text-rendering: optimizeLegibility;
}

path {
  fill: none;
  stroke-linejoin: round;
}

.land {
  fill: #ddd;
  stroke: #fff;
}

.hexmesh path {
  stroke: #222;
}

.hexagons path {
  stroke: #fff;
}

.states {
  stroke: #fff;
}

text {
  font-size: 16px;
}
