body {
  background-color: #000;
  color: #ccc;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ccc;
}

.waiting .c3-chart-arcs-title {
  fill: #777;
}

.c3-chart-arcs-title {
  fill: #0f0;
  dominant-baseline: middle;
  font-size: 3.7em;
}

.c3-chart-arc path {
  stroke: #000 !important;
}

.c3-chart-arc text {
  fill: #000;
}

.c3-areas path {
  /*    stroke: #ffffff !important;
    fill: #ffffff !important;
*/
  opacity: 0.5 !important;
}

.c3-legend-item text {
  fill: #ccc !important;
}

.c3-bar {
  fill: #ccc !important;
}

.c3-axis text {
  fill: #ccc !important;
}

.c3 path,
.c3 line {
  fill: none;
  stroke: #ccc;
}

.c3-region rect {
  fill-opacity: 0.5 !important;
}

#bod_chart2 {
  margin-top: 32px;
}
