<html>
  <head>
    <link
      href="/assets/shadow/css/map-light.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/assets/shadow/css/map-dark.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <!-- Give 0 padding because foundation will add padding to this body and the main body -->
  <body style="padding-top: 0 !important">
    <div class="row full">
      <div class="large-12 columns">
        <h1 class="title">Cyber Hygiene: U.S. Host Locations</h1>
      </div>
    </div>
    <div class="row full">
      <div class="large-12 columns">
        <svg id="map" perserveAspectRatio="xMinYMid" />
      </div>
    </div>
  </body>
</html>
